.projet_form_ctn {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.prt_frm_wth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    width: 73vw;
    border-top: rgb(85, 202, 85) solid 2px;
}

.prt_frm_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.prt_frm_card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
    align-items: center;
    box-shadow: 5px -1px 20px 5px rgb(50, 55, 77);
}

.prt_frm_crd_ctn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 49%;
    height: 100%;
    overflow: hidden;
}
.prt_frm_crd_ctn p{
    justify-content: center;
    align-items: center;
    transform: translateY(50%);
    width: 6%;
    height: 10%;
    margin: 10px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(187, 214, 187);
    cursor: pointer;
}
.left_arrow_forma{
    position: absolute;
    left: 0;
    display: flex;
}
.right_arrow_forma{
    position: absolute;
    right: 0;
}
.prt_frm_content{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
}

.prt_frm_crd_ctn li{
    list-style-type: none;
    padding: 0 10px 0 0;
    min-width: 100%;
}
.prt_frm_crd_ctn img {
    width: 100% !important;
    height: auto;
}

.prt_frm_card img {
    width: 48%;
}

.prt_frm_card_content {
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 10px;
    justify-content: center;
}

.prt_frm_card_content h3 {
    color: white;
}

.prt_frm_card_content p {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.lang_use_prt_frm{
    padding-top: 20px;
}
.prt_frm_card_stack {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: start;
}
.prt_frm_crd_icon{
    height: 3vw;
    width: 3vw;
    margin-right: 10px;
}
.prt_frm_card_stack img {
    height: 100%;
    width: 100%;
}

@media (max-width: 900px){
    .prt_frm_wth{
        width: 80%;
    }
    .prt_frm_card{
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }
    .prt_frm_card img{
        width: 80%;
    }
    .prt_frm_card_content{
        width: 90%;
    }
    .prt_frm_card_content h3{
        font-size: 30px;
        margin: 20px 0 20px 0;
    }
    .prt_frm_card_content p{
        font-size: 20px;
    }
    .lang_use_prt_frm{
        padding: 0;
    }
    .prt_frm_crd_icon{
        height: 8vw;
        width: 10vw;
    }
    .idx_deux_div{
        width: 95%;
    }
    .idx_deux{
        flex-wrap: wrap;
        justify-content: center;
    }
    .idx_deux_dx{
        width: 100%;
    }
    .idx_deux_art{
        justify-content: center;
    }
    .idx_deux_img_i{
        width: 200px;
    }
    .idx_deux_ctn_frt{
        width: 95%;
    }
    .idx_deux_frt{
        width: 100%;
    }
}
@media (max-width: 700px){
    .prt_frm_wth{
        width: 90%;
    }
    .prt_frm_card{
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }
    .prt_frm_card img{
        width: 90%;
    }
    .prt_frm_card_content{
        width: 90%;
    }
    .prt_frm_card_content h3{
        font-size: 30px;
        margin: 10px 0 10px 0;
    }
    .prt_frm_card_content p{
        font-size: 20px;
    }
    .lang_use_prt_frm{
        padding: 0;
    }
    .prt_frm_crd_icon{
        height: 8vw;
        width: 10vw;
    }
    .idx_deux_img_i{
        width: 150px;
    }
}