header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: rgba(22, 30, 70, 0.096);
}
nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 73vw;
}
.nav_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}
.nav_top h1{
    color: var(--green-color);
    font-size: 45px;
    margin: 0;
}
.nav_bot{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    width: 60%;
}
.nav_bot div{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
}
.navLink{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0 2vw 0 2vw;
}
.nav_li_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vw;
    padding: 0 2vw 0 2vw;
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--body-color) !important;
    transition: all 0.5s;
    background-color: var(--green-color) !important;
    border-radius: 5px !important;
}
.nav_bot_burger{
    display: none;
    cursor: pointer;
    z-index: 10;
}
.nav_bot_phone{
    display: none;
}
.nav_bot_phone div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1000px) {
    nav{
        width: 95% !important;
        height: 100%;
        position: relative;
    }
}
@media (max-width: 700px) {
    nav{
        width: 100% !important;
        height: 100%;
        position: relative;
    }
    .nav_top{
        margin-left: 10px;
        height: 100%;
    }
    .nav_bot{
        display: none;
    }
    .nav_bot_burger{
        display: flex;
        width: 20% !important;
    }
    .burger_icon{
        font-size: 50px;
        color: white;
    }
    .navLink{
        display: flex;
        width: 100% !important;
        margin: 20px 0 20px 0;
        font-size: 50px;
        height: auto;
    }
    .nav_bot_phone{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 0px;
        right: 0;
        padding-top: 70px;
        background-color: rgba(14, 8, 8, 0.897);
        align-items: center;
        justify-content: end;
        width: 75%;
    }
    .nav_li_contact{
        width: 90% !important;
        margin: 20px 0 20px 0;
        height: auto;
        font-size: 50px;
    }
}