html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(64, 69, 94);
    font-family: "Roboto", 'Quicksand', sans-serif, Verdana, Geneva ;
}
nav{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 80px;
}
.nav_container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(22, 30, 70, 0.096);
}
.nav_h{
    display: flex;
    justify-content: flex-end;
    color: rgb(223, 56, 56);
    font-size: 30px;
    margin: 0;
    width: 10%;
}
.nav_ul_idx{
    display: flex;
    width: 50%;
}
.nav_ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nav_li_idx{
    width: 15%;
    padding: 0 20px 0 0;
    list-style-type: none;
}
.nav_li_a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/*--------PREMIERE PARTIE--------------*/

.idx_wth_ctn{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
}
.idx_prem_div{
    display: flex;
    min-width: 1480px;
    max-width: 1480px;
}
.idx_prem_ctn{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    color: white;
}
.idx_prem_frt_ctn{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    width: 50%;
}
.idx_prem_h{
    color: rgb(223, 56, 56);
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
.idx_prem_p{
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: 15px 0 15px 0;
}
/*--------PREMIERE PARTIE BTN--------------*/

.idx_prem_btn{
    display: flex;
    width: 50%;
}
.idx_prem_btn_ul{
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    width: 100%;
}
.idx_prem_btn_li{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px rgb(223, 56, 56) solid;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.idx_prem_btn_li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
/*---Photo de profil---*/
.idx_prem_btn_li img{
    width: 60%;
    height: 50%;
}
.idx_prem_img{
    border-radius: 25px;
}
/*--------PREMIERE PARTIE IMG--------------*/

.idx_prem_img{
    display: flex;
    justify-content: center;
    width: 50%;
}
.idx_prem_img img{
    display: flex;
    width: 400px;
    height: 400px;
    padding-top: 150px;
}

/*--------DEUXIEME PARTIE IMG--------------*/

.idx_deux_ctn{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1000px;
}
.idx_deux_div{
    display: flex;
    min-width: 1480px;
    max-width: 1480px;
    border-top: rgb(223, 56, 56) solid 2px;
}
/*---Presentation Zone JEUX---*/
.idx_deux_frt{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 200px;
}
.idx_deux_h{
    color: rgb(223, 56, 56);
    font-size: 40px;
}
/*---Images Zone---*/
.idx_deux_dx{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 200px;
}